.section-head {
  max-width: 640px;
  margin-bottom: 40px;
}

.section-label {
  display: inline-block;
  margin-bottom: 12px;
  color: var(--main-accent);
  font-size: var(--fs-sm);
  font-weight: 600;
}

.section-title {
  margin-bottom: 16px;
  color: var(--main-text);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
}

.section-text {
  color: var(--main-text);
  font-size: var(--fs-lg);
  line-height: 1.6;
  opacity: var(--opacity);
}


@media (max-width: 1024px) {
  .section-title {
    font-size: 30px;
  }
}